input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="number"] { 
  -moz-appearance: textfield; 
}

.bg-login{
    background-image: url(../img/bg_login2.jpg);
    background-position: 10% bottom;
    background-size: cover;
}
.bg-login>div{
    background: rgb(255 255 255 / 30%) !important;
}